{% extends 'base.jinja2' %}

{% block subtitle %}Create A Donation{% endblock subtitle %}

{% block content %}
<form method = "POST">
    <label for="donor-input">Donor:</label><input id="donor-input" type="text" name="donor"><br>
    <label for="donation-input">Donation Amount:</label><input id="donation-input" type="number" name="donation"><br>
    <input type="submit" value="Submit">
</form>
{% endblock content %}
